<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
    <elmah xdt:Transform="Replace">
        <errorLog type="Elmah.SQLiteErrorLog, Elmah" connectionStringName="elmah" />
    </elmah>
    <connectionStrings>
        <add name="elmah" connectionString="Data Source=|DataDirectory|\SQLite.db" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
</configuration>