<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
        <customErrors mode="Off" xdt:Transform="Insert" />
    </system.web>
    <elmah>
        <errorLog type="Elmah.SQLiteErrorLog, Elmah" connectionStringName="elmah" xdt:Transform="Replace" />
        <security allowRemoteAccess="1" xdt:Transform="Insert" />
    </elmah>
    <connectionStrings>
        <add name="elmah" connectionString="Data Source=|DataDirectory|\SQLite.db" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
</configuration>