<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SelfUpdateUtility.TestApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="UpdateUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="UpdateUtility.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SelfUpdateUtility.TestApplication.Properties.Settings>
            <setting name="FilesToUpdate" serializeAs="String">
                <value>SelfUpdateUtility.Library.dll;SomeOtherFile.txt</value>
            </setting>
        </SelfUpdateUtility.TestApplication.Properties.Settings>
        <UpdateUtility.Properties.Settings>
            <setting name="FilesToUpdate" serializeAs="String">
                <value>SomeOtherFile.txt</value>
            </setting>
        </UpdateUtility.Properties.Settings>
        <UpdateUtility.Forms.Properties.Settings>
            <setting name="FilesToUpdate" serializeAs="String">
                <value />
            </setting>
        </UpdateUtility.Forms.Properties.Settings>
    </applicationSettings>
</configuration>