@page

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Speech to Text</title>
    <environment include="Development">
        <link rel="icon" href="~/favicon.ico">
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="icon" href="~/favicon.ico" asp-append-version="true">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    </environment>
    <link href="~/favicon.ico" rel="icon" asp-append-version="true">
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <main class="container">
        <h1 class="display-4 mt-3">Speech to Text</h1>
        <p class="lead">A proof of concept web site, exercising Azure Speech to Text.</p>
        <footer class="text-right text-muted mb-3">
            © 2020 <a class="text-dark" href="https://www.235u.net">Actin Uranium</a> |
            <a class="text-dark" href="https://github.com/235u/proposals/tree/master/SpeechToText">GitHub</a>
        </footer>
    </main>
    <script src="~/js/site.js"></script>
</body>
</html>