<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <style>

    </style>
</head>
<body class="h-100 d-flex">
    <main class="container m-auto">
        @RenderBody()
        <footer class="text-right mb-5">
            <span class="text-muted">© 2019 <a class="text-dark" href="https://www.235u.net">Actin Uranium</a> | <a class="text-dark" href="https://github.com/235u/proposals">GitHub</a></span>
        </footer>
    </main>
</body>
</html>
