@model RingInfo
@{
    ViewData["Title"] = "Back End";
}

<h1>@ViewData["Title"]</h1>
<h2>Data Model</h2>
<p>The first draft:</p>
<figure>
    <img src="~/img/back-end.data-model.png" asp-append-version="true" />
</figure>
<h2>Price Calculation</h2>
<p>The first approximation:</p>
<figure>
    <img src="~/img/back-end.price-calculation.png" asp-append-version="true" />
</figure>
