@{
    ViewData["Title"] = "Game Price Comparison";
}

<h1 class="display-1">@ViewData["Title"]</h1>
<p class="lead">Shows how expensive UK gaming is compared to other places.</p>
<h2>Top Sellers</h2>
<div id="top-sellers">
    <div class="d-flex justify-content-center align-items-center" style="height: 580px">
        <div class="mr-3"><strong>Loading...</strong></div>
        <div class="spinner-border" role="status"></div>
    </div>
</div>

<script>
    fetch("Home/TopSellers")
        .then((response) => {
            response.text()
                .then((text) => {
                    const container = document.querySelector("#top-sellers");
                    container.innerHTML = text;
                });
        });
</script>
