<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Login" value="XXX@XXXXX.com"/>
    <add key="Password" value="XXXXXXXXXX"/>
    <!--<add key="Location" value="France"/>-->
    <add key="Location" value="United States"/>
    <!--<add key="Language" value="fr"/>-->
    <add key="Language" value="en"/>    
  </appSettings>
</configuration>