@model RingInfo

<h2>Ring Settings (Images Not Implemented)</h2>
<div class="row">
    <div class="col form-group">
        <label asp-for="RingType" class="control-label"></label>
        <select class="form-control">
            @foreach (RingType ringType in Enum.GetValues(typeof(RingType)))
            {
                <option>@ringType.GetDisplayName()</option>
            }
        </select>
    </div>
    <div class="col form-group">
        <label asp-for="Metal.PreciousMetal" class="control-label"></label>
        <select class="form-control">
            @foreach (PreciousMetal metal in Enum.GetValues(typeof(PreciousMetal)))
            {
                <option>@metal.GetDisplayName()</option>
            }
        </select>
    </div>
    <div class="col form-group">
        <label asp-for="Metal.Fineness" class="control-label"></label>
        <select class="form-control">
            @foreach (PreciousMetalFineness fineness in Enum.GetValues(typeof(PreciousMetalFineness)))
            {
                <option>@fineness.GetDisplayName()</option>
            }
        </select>
    </div>
</div>
